/* lmaaooooooooooo */

#myForm{

background-color: rgb(168, 101, 231);
border-radius: 1rem;
font-size: 1.5rem;
font-weight: bold;
font-family: 'Gill Sans', 'Gill Sans MT';
width: 33vw;
margin: auto;
padding:1rem;
color:black;
}
