
/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}
/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: rgb(172, 134, 180);;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
  background-color: rgb(172, 134, 180);
}

#he {
  font-size:3.5rem;
  font-weight: bold;
  font-family:  'Times New Roman';
  color:black;
  margin: 1rem;
  }

#hi {
  font-weight: bold;
  font-size: 1.8rem;
  font-family: 'Courier New';
  color: cornsilk;

}






/* 
the fuck men ?????ahhahahahahhahaha
nilipat ko sa clas tabcontents tong bg takte paulit ulit hahahahah
 // ok//
#Home {background-color: rgb(172, 134, 180);}
#News {background-color: rgb(172, 134, 180);}
#Contact {background-color: rgb(172, 134, 180);}
<<<<<<< HEAD
#About {background-color: rgb(172, 134, 180);} *s/
=======
#About {background-color: rgb(172, 134, 180);} */
>>>>>>> 97b23aae4e00de5c51cc740bc37ed90aef0e3688
