body{
  background: #333;
}

#topnav{
  background:rgb(84, 63, 89);
}

#topnav a{
 
  color:#211309;

}

#topnav a:first-of-type{
  background: #9b928c;
}

#topnav a:hover{
  background: #8a837e;
}

#dashboard_con{
  display: flex;
  height: 75vh;
  overflow: hidden;
  margin-top: .5rem;
}

#dashboard_con nav{
  background: #333;
  height: auto;
  display: flex;
  flex-direction: column;
  width: 25%;
  font-size: 2rem;
}

.tablink {
  background-color: #555;
  color: white;
  border: none;
  border-radius: 0;
  display: block;
  cursor: pointer;

  padding-block:2rem;
  width: 100%;
  margin: 0;
}

.tablink:hover {
  background-color: #333;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding-inline:1rem;
  height: 60vw;
  padding-block:0 ;
    background-color: rgb(172, 134, 180);
  width: 100%;
  overflow: auto;
}

#he {
  font-size:3.5rem;
  font-weight: bold;
  font-family:monospace;
  color:black;
  margin: 1rem;
  }

#hi {
  font-weight: bold;
  font-size: 1.8rem;
  font-family: 'Courier New';
  color:brown;
  margin: 1.2rem;
}

.name{
  font-weight: bold;
  font-size: 1.8rem;
  font-family:cursive;
  background-color: black;
  color:white ;
  margin: 2rem;
  gap: 2rem;
}

.results{
  overflow-y:auto;
  height: 69%;
}


table{
  width: 100%;
  border-collapse: collapse;
  text-align: justify;
}

th{
  background: rgb(84, 63, 89); 
  font-size: 1.5rem;
  color: white;
  padding:.5rem ;
  position: sticky;
  top: 0;
  border: none;
}


tr{
  background: rgb(193, 149, 202);
  border-bottom: .1rem solid #333;
}

tr:hover{
  background: rgb(122, 94, 128);
  color: white;
}
tr:hover td a{
  color: white;
}


td{
  padding:.5rem ;
}

td a{
  text-decoration: none;
  color:black;
}

td a:hover{
  text-decoration: underline;
}

