* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  body {
    background:#efe2d9;
    font-weight: bold;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    text-align: center;
    width: 50vw;
  }

  
