.details{
    background: linear-gradient(#d8a5a2,#72a4e0);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5rem;
  color:white;
}

.shelves{
    height: 30rem;
    gap: 1rem;
}

.cover{
    width: 40%;
    background: #333;
    object-fit: contain;
}

