.details{
    background: linear-gradient(#72a4e0, #d8a5a2);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    font-size: 2.5rem;
  color: darkblue;
  font-family:'Times New Roman';
  gap: .3rem;
}

.shelves{
    height: 30rem;
    gap: 1rem;
}

.cover{
    width: 40%;
    background: #333;
    object-fit: contain;
}

