

.shelf_con{
    display: flex;
    gap: 2rem;
    margin: 1rem;
    height: 30rem;
}

.shelves{
    flex-direction: column;
    height: auto;
    margin: 0;
    width: 100%;
    gap: .5rem;
    align-items:center;
}

.book{
    display: flex;
    background: #8d7aa6;
    width: 100%;
    height: 30%;
    margin: 0;
    align-items: center;
}

.book span{
    background: rgb(235, 198, 198);
    width: 100%;
    color: black;
}

.book img{
    width: 30%;
    height: 60%;
}

.ge{
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Courier New';
    gap: 2rem;
    color: white;
    -webkit-text-stroke-width: 1.6px;
    -webkit-text-stroke-color: black;
}